@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
	font-family: minesweeper;
	src: url(mine-sweeper.ttf)
}

/* {
	font-family: minesweeper;
	font-size: 22px;
} */

body {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #2b2b2b;
  font-weight: bold;
}

.board {
	display: grid;
	grid-template-columns: repeat(16, 0fr);
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
}

.board div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	cursor: pointer;
	user-select: none;
	border-spacing: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	height: 36px;
	width: 36px;
	cursor: pointer;
}

#notclicked:active {
	border: 1px solid #757575;
}

#clicked {
	border: 1px solid #757575;
	background-color: #b5b5b5;
}

#notclicked {
	border: 3px outset #cccccc;
	background-color: #b5b5b5;
}

.flagged {
	color: rgb(237, 206, 28);
	height: 36px;
	width: 36px;
	content: url('./flag.png')
}

.missed {
	content: url('./missed.png');
	height: 36px;
	width: 36px;
}

.shownBomb {
	font-size: 20px;
	height: 36px;
	width: 36px;
	content: url('./shownBomb.png');
}

.bomb {
	font-size: 20px;
	height: 36px;
	width: 36px;
	content: url('./shownBomb.png');
	background-color: red;
	border: 1px solid #757575;
	box-sizing: border-box;
}

.mines-1, i {
	color: red;
}

.mines1 {
	color: blue;
}

.mines2 {
	color: green;
}

.mines3 {
	color: red;
}

.mines4 {
	color: purple;
}

.mines5 {
	color: maroon;
}

.mines6 {
	color: teal;
}

.mines7 {
	color: black;
}

.mines8 {
	color: grey;
}

.mines0 {
	color: transparent;
}
